html {
    font-family: "Libertinus Sans", sans-serif;
}

body {
    background-color: #00A2E8;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

section.header {
    margin: 1vw 2vw 0 2vw;
    padding: 1vw;

    display: flex;
    flex-wrap: nowrap;
}

section.content {
    margin: 1vw 2vw 1vw 2vw;
    padding: 1vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    color: white;
}

a {
    color: white;
}

.panel {
    border-radius: 1vw;
    backdrop-filter: blur(10px);
}

.brighter {
    backdrop-filter: brightness(110%);
}

.darker {
    backdrop-filter: brightness(91%);
}

section.header a {
    position: relative;
    text-decoration: none;
    cursor: pointer;

    font-weight: bolder;
    font-size: larger;
    margin: 0 1vw;
}

section.header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

section.header a:hover::after {
    width: 100%;
}

.max-grow {
    flex: 1 1 auto;
}

.growing-button {
    transition: transform 0.15s ease-out;
}

.growing-button:hover {
    transform: scale(1.05);
}

/* Language select */
#lang-selector {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

/* Single flag button */
#current-flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Dropdown menu */
#flag-menu {
    position: absolute;
    bottom: 50px;
    /* above the button */
    right: 0;
    display: none;
    flex-direction: column;
    gap: 8px;
    background: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#flag-menu img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}